

.category {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;


.header {
    margin-bottom: 30px;

    h1 {
        color: var(--Font-Color, #333);
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    p {
        color: var(--Font-Color1, #666);
        text-align: center;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.category {
    text-align: center;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    p {
        color: var(--Font-Color, #333);
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}
}