// header {
// 	background-color: #333;
// 	min-height: 100px;
// 	padding: 2.5rem 3.25em;
// 	color: #fff;
// 	text-align: center;
// }

#headerComponent {
	// border: 1px solid red !important;
	background: #fff;
	padding: 0 3.25rem;
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	font-style: normal;
	line-height: normal;

}

#logoComponent {
	cursor: pointer;
	img {
		width: 50px;
		height: min-content;
	}

	span {
		color: #000;
		font-family: 'Montserrat';
		font-size: 34px;
		font-weight: 700;
	}
}

#navigationComponent {
	display: flex;
	gap: 4.688rem;
	align-items: center;

	& a, span {
		color: #000;
		font-family: 'Poppins';
		font-size: 16px;
		font-weight: 500;
		text-decoration: none;
	}
}

.header-nav-actions {
	display: flex;
	gap: 1rem;
	align-items: center;
	gap: 2.75rem;

	& img {
		width: 28px;
		height: 28px;
	}
}