/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --mainBackgroudColor: #fff;
  --discoveryBackgroudColor: #FFF3E3;
  --colorTextNomal: #000;
  --headbg: #F9F1E7;
  --borderInput: #9F9F9F;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

@media (max-width: 576px) {
  body {
    padding-bottom: 64px;
  }
}
button {
  cursor: pointer;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

.btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  word-break: break-all;
  white-space: nowrap;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

#headerWebComponent {
  background: #fff;
  padding: 0 3.25rem;
  min-height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-family: "Poppins";
  font-style: normal;
  line-height: normal;
  position: relative;
}

#logoComponent {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  text-decoration: none;
}
#logoComponent img {
  width: 50px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
#logoComponent span {
  color: #000;
  font-family: "Montserrat";
  font-size: 34px;
  font-weight: 700;
  text-decoration: none;
}

#navigationComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.688rem;
  align-items: center;
}
#navigationComponent a,
#navigationComponent span {
  color: #000;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}

.header-nav-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.75rem;
}
.header-nav-actions img {
  width: 28px;
  height: 28px;
  padding: 0;
}

#menuToggle {
  border-radius: 50%;
  padding: 1rem;
  position: relative;
}

#mobileNavigationComponent {
  display: none !important;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  background-color: var(--mainBackgroudColor);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: absolute;
  z-index: 4;
  top: 100%;
  right: 1%;
  z-index: 20;
}

.mobile-nav-content {
  width: 100%;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}
.mobile-nav-content a {
  padding: 4% 4rem;
}
.mobile-nav-content a:hover {
  background-color: var(--discoveryBackgroudColor);
}

#menuToggle:hover #mobileNavigationComponent {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#headerMobileComponent {
  display: none;
  min-height: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem;
  position: relative;
  z-index: 4;
}

#headerMobileComponent #logoComponent {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%, -50%);
  top: 50%;
}
#headerMobileComponent #logoComponent span {
  color: var(--colorTextNomal);
  font-family: "Montserrat";
  font-size: 34px;
  font-weight: 700;
}

@media (max-width: 576px) {
  #mobileNavigationComponent {
    width: 94vw;
  }
}
@media (max-width: 768px) {
  #headerWebComponent {
    display: none;
  }
  #headerMobileComponent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  #headerMobileComponent .header-nav-actions {
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    position: fixed !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    bottom: 0;
    left: 0;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1.75rem 0;
    background: #fff;
    margin: 0;
    z-index: 1;
  }
}
@media (max-width: 992px) {
  #headerWebComponent #navigationComponent {
    gap: 1.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.footer {
  background-color: #fff;
  padding: 40px 20px;
  border-top: 1px solid #e0e0e0;
}
.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer-container .footer-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}
.footer .footer-container .footer-column .footer-logo {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer .footer-container .footer-column .footer-address {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 30px;
}
.footer .footer-container .footer-column .footer-heading {
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}
.footer .footer-container .footer-column .footer-links {
  list-style: none;
}
.footer .footer-container .footer-column .footer-links li {
  margin-top: 30px;
  margin-bottom: 10px;
}
.footer .footer-container .footer-column .footer-links li a {
  text-decoration: none;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .footer-container .footer-column .footer-links li a:hover {
  text-decoration: underline;
}
.footer .footer-container .footer-column .footer-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.footer .footer-container .footer-column .footer-newsletter input {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
  font-size: 12px;
  outline: none;
  width: 170px;
}
@media (max-width: 768px) {
  .footer .footer-container .footer-column .footer-newsletter input {
    width: 100%;
    max-width: 300px;
  }
}
.footer .footer-container .footer-column .footer-newsletter button {
  background: none;
  border: none;
  border-bottom: 1px solid #333;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  width: 100px;
  margin-bottom: 10px;
}
.footer .footer-container .footer-column .footer-newsletter button:hover {
  color: #555;
}
@media (max-width: 768px) {
  .footer .footer-container .footer-column .footer-newsletter button {
    width: 100%;
    max-width: 300px;
  }
}
.footer .footer-copyright {
  text-align: left;
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
  max-width: 1200px;
  margin: 0 auto;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .footer .footer-copyright {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
#cartPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins";
  font-style: normal;
  line-height: normal;
}

#breadcrumb {
  height: 100%;
  max-height: 316px;
  overflow: hidden;
  position: relative;
}
#breadcrumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

#breadcrumb .infors {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  background-color: #f9f9f9;
  padding: 20px;

}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--Color-Gray-1, #3a3a3a);
  font-size: 40px;
  font-weight: 700;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.product-card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.product-image {
  position: relative;
  height: 300px;
  overflow: hidden;
  width: 285px;
}

.product-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.product-tag {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 16px;
  z-index: 1; /* Lower z-index so it's hidden behind the overlay */
}

.tag-discount {
  background-color: var(--Color-Red-Accents, #e97171);
}

.tag-new {
  background-color: var(--Color-Green-Accents, #2ec1ac);
}

.product-info {
  padding: 15px;
  background: var(--Color-Light-BG, #f4f5f7);
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.product-description {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

.product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.current-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.original-price {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}

/* Hover Overlay */
.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#breadcrumb .logo {
  width: 77px;
  height: 77px;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}
#breadcrumb .title {
  color: var(--colorTextNomal);
  font-size: 48px;
  font-weight: 500;
}
#breadcrumb .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
}
#breadcrumb .detail span {
  color: var(--colorTextNomal);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
#breadcrumb .detail:last-child {
  color: var(--colorTextNomal);
  font-weight: 300;
}

#cartPage {
  margin-top: 4.5rem;
  width: 100%;
}
#cartPage div {
  padding: 0;
}
#cartPage input[type=number]::-webkit-outer-spin-button, #cartPage input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#cartPage input[type=number] {
  -moz-appearance: textfield;
}

.cart-page-wrap {
  width: 100%;
}

.cart-list {
  width: 100%;
  overflow: auto;
  min-height: 140px;
}

.cart-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.cart-table-head,
.cart-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1.75fr 1fr 0.25fr 1fr 0.25fr;
  text-align: center;
  border-bottom: 1px solid gray;
}

.cart-table-head {
  width: 100%;
  min-height: 55px;
  background: var(--headbg);
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-table-head span {
  color: var(--colorTextNomal);
  font-size: 16px;
  font-weight: 500;
}

.cart-table-row {
  width: 100%;
  gap: 0.25rem;
}

.cart-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.logo {
  width: 77px;
  height: 77px;
}

.cart-item-title,
.price {
  color: #9F9F9F;
  font-size: 16px;
  font-weight: 400;
}

.quantity {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.quantity input {
  border: 1px solid #9F9F9F;
  border-radius: 0.75rem;
  width: 32px;
  height: 32px;
  text-align: center;
}

.subtotal {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

#cartPage #delete-item img {
  width: 28px;
  height: 28px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 !important;
}

.cart-summary {
  background: var(--headbg);
  border-radius: 0.25rem;
  min-width: 393px;
  padding: 4rem 5rem !important;
  margin-left: 0.5rem;
}
.cart-summary .title {
  color: var(--colorTextNomal);
  font-size: 32px;
  font-weight: 600;
}

.cart-summary-infors {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 1rem 0.75rem;
}

.cart-summary-infors .title {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.cart-summary-infors .content {
  color: #9F9F9F;
  font-size: 16px;
  font-weight: 400;
}

#lastPrice {
  color: var(--Primary, #B88E2F);
  font-size: 20px;
  font-weight: 500;
}

.cart-summary-actions {
  margin-top: 2.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#check-out {
  border: 1px solid #000;
  border-radius: 15px;
  width: 100%;
  max-width: 393px;
  padding: 1rem 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--colorTextNomal);
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .cart-summary {
    text-align: center;
  }
}
@media (max-width: 768px) {
  #check-out {
    font-size: calc(20px - 4%);
  }
}
@media (max-width: 576px) {
  .cart-summary {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  #check-out {
    font-size: calc(20px - 8%);
  }
}
#checkOut {
  margin-top: 6rem;
  width: 100%;
  color: var(--colorTextNomal);
  font-family: "Poppins";
  font-size: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 2; /* Higher z-index to cover the tags */
}

.product-card:hover .hover-overlay {
  opacity: 1;
}

.add-to-cart {
  background-color: white;
  color: var(--Primary, #b88e2f);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  width: 202px;
  text-align: center;
  height: 48px;
}

.action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.action-button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.action-button i {
  font-size: 16px;
}

.show-more {
  display: block;
  width: 245px;
  height: 48px;
  margin: 30px auto 0;
  padding: 12px 0;
  text-align: center;
  border: 1px solid var(--Primary, #b88e2f);
  background: #fff;
  color: var(--Primary, #b88e2f);
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: var(--Primary, #b88e2f);
  font-weight: bold;
}

/* Responsive */
@media (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
  padding: 50px 20px;
  text-align: center;
}

.header {
  margin-bottom: 30px;
}

.header h1 {
  color: var(--Font-Color, #333);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header p {
  color: var(--Font-Color1, #666);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category {
  text-align: center;
}

.category img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.category p {
  color: var(--Font-Color, #333);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#billingDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  padding: 2.25rem 4.5rem;
}

#billingDetails .title {
  color: var(--colorTextNomal);
  font-size: 36px;
  font-weight: 600;
}

#billingDetails form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.25rem;
}
#billingDetails form label {
  color: var(--colorTextNomal);
  font-size: 16px;
  font-weight: 500;
}
#billingDetails form input,
#billingDetails form select {
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #000000;
  background: #FFF;
  font-size: 1.5rem !important;
  display: block;
  width: 100%;
  padding: 0.375rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

#billingDetails .form-group {
  gap: 1.375rem;
}

#inforsSummary {
  padding: 2.25rem 5.5rem;
}

.infors-summary-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.25rem;
}

#inforsSummary .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#inforsSummary .product .title {
  color: var(--colorTextNomal);
  font-size: 24px;
  font-weight: 500;
}
#inforsSummary .product .name {
  margin-top: 14px;
  color: #9F9F9F;
  font-size: 16px;
  font-weight: 400;
}
#inforsSummary .product .subtotal {
  margin-top: 22px;
  color: var(--colorTextNomal);
  font-size: 16px;
  font-weight: 400;
}
#inforsSummary .product .total {
  margin-top: 22px;
  color: var(--colorTextNomal);
  font-size: 16px;
  font-weight: 400;
}

#inforsSummary .content {
  color: var(--colorTextNomal);
  font-size: 24px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#inforsSummary .content .title {
  color: var(--colorTextNomal);
  font-size: 24px;
  font-weight: 500;
}
#inforsSummary .content .product-price {
  margin-top: 14px;
  color: var(--colorTextNomal);
  font-size: 16px;
  font-weight: 300;
}
#inforsSummary .content .product-subtotal {
  margin-top: 22px;
  color: var(--colorTextNomal);
  font-size: 16px;
  font-weight: 300;
}
#inforsSummary .content .last-price {
  margin-top: 22px;
  color: var(--Primary, #B88E2F);
  font-size: 24px;
  font-weight: 700;
}

#homePage {
  background-color: var(--mainBackgroudColor);
}

#homeBanner {
  min-height: calc(100vh - 100px);
  width: 100%;
  background-image: url(../images/home-banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center 70%;
  padding: 0 1%;
}

.quick-infor-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homeBanner .quick-infor {
  border-radius: 10px;
  background: var(--discoveryBackgroudColor);
  width: 100%;
  max-width: 500px;
  padding: 4rem 2.75rem 2.5rem 2.75rem;
  z-index: 2;
}

#homeBanner .status {
  color: var(--Font-Color, #333);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
}

#homeBanner .title {
  margin-top: 0.5rem;
  display: block;
  color: var(--Primary, #B88E2F);
  font-size: 52px;
  font-weight: 700;
}

#homeBanner .description {
  margin-top: 1.25rem;
  display: block;
  color: var(--Font-Color, #333);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

#buyNow {
  margin-top: 3.2rem;
  background: var(--Primary, #B88E2F);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 25px 72px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

#nav-mobile {
  position: absolute;
  border: 1px so;
}

@media (max-width: 1200px) {
  #homeBanner .quick-infor {
    margin-right: 12%;
  }
}
@media (max-width: 992px) {
  #homeBanner .quick-infor {
    max-width: 500%;
    margin: 0 1rem 0 1.5rem;
  }
}
@media (max-width: 768px) {
  .col-hire {
    display: none;
  }
  #buyNow {
    padding: 25px 72px;
    font-size: calc(16px - 4%);
  }
}
@media (max-width: 576px) {
  #homeBanner .quick-infor {
    margin: 0 1rem 0 1.5rem;
  }
  .col-hire {
    display: none;
  }
  #homeBanner .status {
    font-size: calc(16px - 50%);
  }
  #homeBanner .title {
    font-size: calc(52px - 50%);
  }
  #homeBanner .description {
    font-size: calc(18px - 50%);
  }
  #buyNow {
    padding: calc(25px - 4%) calc(72px - 12%);
    margin-top: calc(3.25rem - 4%);
    font-size: calc(16px - 50%);
  }
}
