@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#cartPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins";
    font-style: normal;
    line-height: normal;
}

#breadcrumb {
    position: relative;

    width: 100%;
    height: 316px;
    margin: 0 auto;
    position: relative;
    background-image: url(/assets/img/banner.png);
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-height: 316px;
    overflow: hidden;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);


    .logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(3px);
    }

    .step {
        /* border: 1px solid red; */
        width: 18px;
        height: 18px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-transform: translateY(2px);
        transform: translateY(3px);
    }

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .infors {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 77px;
        height: 77px;
        filter: blur(0px);
        transform: translateY(20%);
    }

    .title {
        color: var(--colorTextNomal);
        font-size: 48px;
        font-weight: 500;
    }

    .detail {
        display: flex;
        gap: 0.25rem;

        & span {
            color: var(--colorTextNomal);
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;
            &:last-child {
                // border: 1px solid red;
                color: var(--colorTextNomal);
                font-weight: 400;
            }
        }


    }
}

// cart list
#cartPage {
    margin-top: 4.5rem;
    width: 100%;

    &.row div {
        padding: 0;
    }

    & input[type="number"]::-webkit-outer-spin-button,
    & input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    & input[type="number"] {
        -moz-appearance: textfield;
    }
}

.cart-page-wrap {
    width: 100%;
}

.cart-list {
    // border: 1px solid red;
    width: 100%;
    overflow: auto;
    min-height: 140px;
}


.cart-table {
    // border: 1px solid blue;
    // width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-right: 2rem;
}

.cart-table-head,
.cart-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1.75fr 1fr 0.25fr 1fr 0.25fr;
    text-align: center;
    padding: 0.5rem 0;
}

.cart-list-line {
    border-bottom: 1px solid var(--border-color);
    width: 100%;
}

.cart-table-head {
    width: 100%;
    min-height: 55px;
    background: var(--headbg);
    background: #F9F1E7;
    gap: 0.5rem;
    align-items: center;

    & span {
        color: var(--colorTextNomal);
        font-size: 16px;
        font-weight: 500;
    }
}

.cart-table-row {
    width: 100%;
    gap: 0.25rem;

}

.cart-item {
    align-items: center;
    justify-content: space-around;
}



.cart-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.logo {
    width: 77px;
    height: 77px;
}

.cart-item-title,
.price {
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 400;
}

.quantity {
    color: #000;
    font-size: 16px;
    font-weight: 400;

    & input {
        border: 1px solid #9F9F9F;
        border-radius: 0.75rem;
        width: 32px;
        height: 32px;
        text-align: center;
    }
}

.subtotal {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

#cartPage #delete-item {
    & img {
        width: 28px;
        height: 28px;
        flex-shrink: 0;
        padding: 0 !important;
    }
}

//
#cart-summary {
    background: var(--headbg);
    background: #F9F1E7;
    border-radius: 0.25rem;
    width: 100%;
    padding: 4rem 5rem !important;

    & .title {
        color: var(--colorTextNomal);
        font-size: 32px;
        font-weight: 600;
    }
}


#cart-summary .cart-summary-infors {
    margin-top: 3.75rem;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem 1rem;
}

#cart-summary .cart-summary-infors .title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

#cart-summary .cart-summary-infors .content {
    // border: 1px solid red;
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    margin: 0;
}

#cart-summary #lastPrice {
    color: var(--Primary, #B88E2F);
    font-size: 20px;
    font-weight: 500;
}

#cart-summary .cart-summary-actions {
    margin-top: 2.625rem;
    display: flex;
    justify-content: center;
}

#check-out {
    border: 1px solid #000;
    border-radius: 15px;
    width: 100%;
    max-width: 393px;
    padding: 1rem 0;
    flex-shrink: 0;

    color: var(--colorTextNomal);
    font-size: 20px;
    font-weight: 400;
}



@media (max-width: 1200px) {
    #cart-summary {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #check-out {
        font-size: calc(20px - 4%);
    }
}

@media (max-width: 576px) {
    #cart-summary {
        min-width: fit-content;
    }

    #check-out {
        font-size: calc(20px - 8%);
    }
}