@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#checkOut {
    padding-top: 6rem;
    background: var(--mainBackgroudColor);
    width: 100%;

    color: var(--colorTextNomal);
    font-family: "Poppins";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#billingDetails {
    // border: 1px solid red !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 2.25rem 4.5rem;

}

#billingDetails .title {
    color: var(--colorTextNomal);
    font-size: 36px;
    font-weight: 600;
}

#billingDetails form {
    // border: 1px solid red !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.25rem;

    & label {
        color: var(--colorTextNomal);
        font-size: 16px;
        font-weight: 500;
    }


    & input,
    select {
        height: 75px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid #000000;
        background: #FFF;

        display: block;
        width: 100%;
        padding: 0.375rem 2rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        color: var(--bs-body-color);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

}

#billingDetails .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.375rem;

    & input, #countryRegion {
        border-radius: 10px;
        border: 1px solid var(--borderInput);
        background: var(--mainBackgroudColor);
    }
}

#inforsSummary,
#paymentMethod {
    padding: 2.25rem 5.5rem;
}

.infors-summary-wrap {
    display: flex;
    justify-content: space-between;
    gap: 2.25rem;
}

#inforsSummary .product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    color: var(--colorTextNomal);
    font-size: 24px;
    font-weight: 500;

    .title {
        color: var(--colorTextNomal);
        font-size: 24px;
        font-weight: 500;
    }

    .name {
        margin-top: 14px;
        color: var(--borderInput);
        font-size: 16px;
        font-weight: 400;
    }

    .subtotal {
        margin-top: 22px;
        color: var(--colorTextNomal);
        font-size: 16px;
        font-weight: 400;
    }

    .total {
        margin-top: 22px;
        color: var(--colorTextNomal);
        font-size: 16px;
        font-weight: 400;
    }
}

#inforsSummary .content {
    // border: 1px solid red;
    color: var(--colorTextNomal);
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 0;
    padding: 0 !important;

    .title {
        // border: 1px solid blue;
        color: var(--colorTextNomal);
        font-size: 24px;
        font-weight: 500;
    }

    .product-price {
        margin-top: 14px;
        color: var(--colorTextNomal);
        font-size: 16px;
        font-weight: 300;
    }

    .product-subtotal {
        margin-top: 22px;

        color: var(--colorTextNomal);
        font-size: 16px;
        font-weight: 300;
    }

    .last-price {
        margin-top: 22px;
        color: var(--Primary, #B88E2F);
        font-size: 24px;
        font-weight: 700;
    }

}

#paymentMethod {
    color: var(--colorTextNomal);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

#paymentMethod .dot {
    display: block;
    background-color: var(--colorTextNomal);
    border-radius: 50%;
    width: 14px;
    height: 14px;
}

#paymentMethod .title {
    color: var(--colorTextNomal);
    font-size: 16px;
    font-weight: 400;
}

#paymentMethod .desctription {
    margin-top: 0.75rem;
    color: var(--borderInput);
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
}

#paymentMethod .payment-method-options {
    margin-top: 1.5rem;

    & label {
        color: var(--borderInput);
        font-size: 16px;
        font-weight: 500;
    }
}

#paymentMethod .note {
    margin-top: 1.375rem;
    color: var(--colorTextNomal);
    text-align: justify;
    font-size: 16px;
    font-weight: 300;

    & a {
        color: var(--colorTextNomal);
        text-decoration: none;
    }
}

#privacyPolicy {
    color: var(--colorTextNomal);
    font-size: 16px;
    font-weight: 600;
}

#placeOrder {
    margin: auto;
    margin-top: 2.5rem;
    max-width: 318px;
    width: 100%;
    min-height: 4rem;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid var(--colorTextNomal);

    color: var(--colorTextNomal);
    font-size: 20px;
    font-weight: 400;
}


@media (max-width: 1200px) {

    #inforsSummary,
    #paymentMethod {
        margin-top: 2rem;
    }

    #inforsSummary .content {
        margin-top: 2rem;
        align-items: flex-start;
        text-align: right;
    }
}

@media (max-width: 992px) {
    #inforsSummary .content {
        margin-top: 0;
        align-items: flex-end;
        text-align: right;
    }
}

@media (max-width: 768px) {
    #inforsSummary .content {
        margin-top: 0;
        align-items: flex-end;
        text-align: right;
    }
}

@media (max-width: 576px) {

    #billingDetails {
        padding: 2.25rem 4.5rem;
        padding: calc(2.25rem / 4) calc(4.5rem / 4);
    }

    #inforsSummary,
    #paymentMethod {
        margin-top: 2rem;
        padding: calc(2.25rem / 4) calc(5.5rem / 4);
    }

    #inforsSummary .content {
        margin-top: 2rem;
        align-items: flex-start;
        text-align: right;
        font-size: calc(2rem);

    }
}