// section#products {
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: space-around;
// 	align-items: center;
// 	margin: 0 auto;
// 	max-width: 1200px;
// 	padding: 20px;
// 	background-color: #f4f4f4;
// 	border-radius: 10px;
// 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
// 	margin-top: 20px;
// 	margin-bottom: 20px;
// }

// section#hot-sales {
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: space-around;
// 	align-items: center;
// 	margin: 0 auto;
// 	max-width: 1200px;
// 	padding: 20px;
// 	background-color: #f4f4f4;
// 	border-radius: 10px;
// 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
// 	margin-top: 20px;
// 	margin-bottom: 20px;
// 	h2 {
// 		margin-bottom: 20px;
// 	}

// 	.desc {
// 		margin-bottom: 20px;
// 	}
// }

#homePage {
    background-color: var(--mainBackgroudColor);
}

#homeBanner {
    position: relative;
    z-index: 1;
}

#homeBanner .quick-infor {
    border-radius: 10px;
    background: var(--discoveryBackgroudColor);
    max-width: 643px;
    width: 50%;
    padding: 3.75rem 2.5rem 2.25rem 2.5rem;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 47%;
    transform: translate(calc(100% - 3.75rem), -50%);
}

#homeBanner {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & img {
        position: relative;
        z-index: 1;
    }
}

#homeBanner .status {
    color: var(--Font-Color, #333);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

#homeBanner .title {
    display: block;
    margin-top: 0.25rem;
    color: var(--Primary, #B88E2F);
    font-size: 52px;
    font-weight: 700;
    // line-height: 65px;
    /* 125% */
}

#homeBanner .description {
    display: block;
    margin-top: 1rem;
    color: var(--Font-Color, #333);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
}

#buyNow {
    margin-top: 3rem;
    background: var(--Primary, #B88E2F);
    display: inline-flex;
    padding: 25px 72px;
    align-items: flex-start;
    gap: 10px;

    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

#nav-mobile {
    position: absolute;
    border: 1px so;
}


#categories {
    font-family: "Poppins";
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#categories .title {
    margin-top: 3rem;
    color: var(--Font-Color, #333);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#categories .description {
    margin-top: 0.25rem;
    color: var(--Font-Color1, #666);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

#categories .category-list {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#categories .category-wrap {
    width: fit-content;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

#categories .category-item {
    // border: 1px solid red;
    padding: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;

    & img {
        border-radius: 2rem;
        padding: 0;
        border: transparent;

        &:active {
            border: transparent;
        }
    }

    .title {
        margin-top: 1.25rem;
        color: var(--Font-Color, #333);
        text-align: center;
        font-family: "Poppins";
        font-size: 24px;
        font-weight: 600;
    }

}

@media (max-width: 992px) {
    #homeBanner .quick-infor {
        max-width: 100%;
        width: 80%;
        padding: 1.75rem 2.5rem 2.25rem 2.5rem;
        position: absolute;
        z-index: 2;
        top: 6%;
        right: 10%;
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}


@media (max-width: 768px) {
    #homeBanner .quick-infor {
        width: 80%;
        padding: 3.75rem 2.5rem 2.25rem 2.5rem;
        position: absolute;
        z-index: 2;
        top: 9%;
        right: 15%;
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    #buyNow {
        padding: 25px 72px;
        font-size: calc(16px - 4%);
    }
}

@media (max-width: 576px) {
    #homeBanner .quick-infor {
        width: 100%;
        background: var(--discoveryBackgroudColor);
        max-width: 643px;
        padding: 3.75rem 2.5rem 2.25rem 2.5rem;
        position: static !important;
        z-index: 2;
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    #homeBanner .status {
        font-size: calc(16px - 4%);
    }

    #homeBanner .title {
        font-size: calc(52px - 4%);
    }

    #homeBanner .description {
        font-size: calc(18px - 4%);
    }
    #buyNow {
        padding: 25px 72px;
        padding: calc( 25px - 2% ) calc( 72px - 2% );
        font-size: calc(16px - 8%);
    }
}