// section#products {
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: space-around;
// 	align-items: center;
// 	margin: 0 auto;
// 	max-width: 1200px;
// 	padding: 20px;
// 	background-color: #f4f4f4;
// 	border-radius: 10px;
// 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
// 	margin-top: 20px;
// 	margin-bottom: 20px;
// }

// section#hot-sales {
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: space-around;
// 	align-items: center;
// 	margin: 0 auto;
// 	max-width: 1200px;
// 	padding: 20px;
// 	background-color: #f4f4f4;
// 	border-radius: 10px;
// 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
// 	margin-top: 20px;
// 	margin-bottom: 20px;
// 	h2 {
// 		margin-bottom: 20px;
// 	}

// 	.desc {
// 		margin-bottom: 20px;
// 	}
// }

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#homePage {
    background-color: var(--mainBackgroudColor);
    overflow: hidden;
}

#homeBanner {
    min-height: calc(100vh - 100px);
    width: 100%;
    background-image: url(../images/home-banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center 70%;
    padding: 0 1%;
}

.quick-infor-col {
    display: flex;
    align-items: center;
}

#homeBanner .quick-infor {
    border-radius: 10px;
    background: var(--discoveryBackgroudColor);
    width: 100%;
    max-width: 500px;
    padding: 4rem 2.75rem 2.5rem 2.75rem;
    z-index: 2;
    // margin-right: 24%;
}

#homeBanner .status {
    color: var(--Font-Color, #333);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

#homeBanner .title {
    margin-top: 0.5rem;
    display: block;
    color: var(--Primary, #B88E2F);
    font-size: 52px;
    font-weight: 700;
    // line-height: 65px;  /* 125% */
}

#homeBanner .description {
    margin-top: 1.25rem;
    display: block;
    color: var(--Font-Color, #333);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
}

#buyNow {
    margin-top: 3.2rem;
    background: var(--Primary, #B88E2F);
    display: inline-flex;
    padding: 25px 72px;
    align-items: flex-start;
    gap: 10px;

    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

#nav-mobile {
    position: absolute;
    border: 1px so;
}

// Ảnh ruộng so le
#homeCollection {
    width: 1440px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.collection-img {
    width: 1800px;
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; */
    gap: 16px;
    // position: absolute;
    // animation: slide 10s linear infinite alternate;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300px);
    }
}

.item1 {
    grid-area: 1 / 1 / 4 / 3;
}

.item2 {
    grid-area: 4 / 1 / 16 / 4;
}

.item3 {
    grid-area: 2 / 3 / 4 / 6;
}

.item4 {
    grid-area: 10 / 4 / 4 / 6;
}

.item5 {
    grid-area: 3 / 6 / 5 / 8;
}

.item6 {
    grid-area: 2 / 8 / 4 / 10;
}

.item7 {
    grid-area: 1 / 10 / 4 / 13;
}

.item8 {
    grid-area: 4 / 8 / 12 / 8;
}

.item9 {
    grid-area: 4 / 9 / 5 / 13;
}

.collection-img img {
    max-width: 100%;
    height: 100%;
    border-radius: 1px;
}

.collection {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}



@media (max-width: 1200px) {
    #homeBanner .quick-infor {
        margin-right: 12%;
    }
}

@media (max-width: 992px) {
    #homeBanner .quick-infor {
        max-width: 500%;
        margin: 0 1rem 0 1.5rem;
    }
}

@media (max-width: 768px) {
    .col-hire {
        // border: 1px solid red;
        display: none;
    }

    #buyNow {
        padding: 25px 72px;
        font-size: calc(16px - 4%);
    }
}

@media (max-width: 576px) {
    #homeBanner .quick-infor {
        margin: 0 1rem 0 1.5rem;
    }

    .col-hire {
        display: none;
    }

    #homeBanner .status {
        font-size: calc(16px - 50%);
    }

    #homeBanner .title {
        font-size: calc(52px - 50%);
    }

    #homeBanner .description {
        font-size: calc(18px - 50%);
    }

    #buyNow {
        padding: calc(25px - 4%) calc(72px - 12%);
        margin-top: calc(3.25rem - 4%);
        font-size: calc(16px - 50%);
    }
}