@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #f9f3e9;
  border-radius: 4px;
  font-family: "Poppins", serif;
  color: #000;
  margin-bottom: 60px;

  &__left {
    display: flex;
    align-items: center;
    gap: 15px;

    .filter-btn,
    .layout-toggle {
      background: transparent;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 5px;
      font-size: 20px;
      font-weight: 400;

      .icon {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .layout-toggle {
      display: flex;
      gap: 10px;
    }

    .results-count {
      font-size: 16px;
      color: #000;
      margin-left: 10px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 20px;

    .dropdown {
      display: flex;
      align-items: center;
      gap: 10px;

      label {
        font-size: 20px;
        color: #000;
      }

      select {
        padding: 8px 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: white;
        font-size: 20px;
        min-width: 120px;
        appearance: none;
        color: #9f9f9f;
        background-repeat: no-repeat;
        background-position: right 10px center;
        cursor: pointer;
      }
    }
  }
}

// Media query for responsive design
@media (max-width: 768px) {
  .filter-bar {
    flex-direction: column;
    gap: 15px;

    &__left,
    &__right {
      width: 100%;
    }

    &__right {
      justify-content: space-between;
    }
  }
}
.product-card{
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 50px;

    .page,
    .next {
      padding: 15px 25px;
      border-radius: 10px;
      text-decoration: none;
      color: #333;
      font-size: 20px;
      background: #f9f1e7;
      font-weight: 400;
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .page.active {
      background: var(--Primary, #b88e2f);
      color: #fff;
    }

    .next {
      width: 98px;
      flex-shrink: 0;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
}